<template>
  <div class="container my-5">
    <div class="jutstify-content-center">
      <div class="col-8"></div>
      <div class="card rounded shadow">
        <div class="card-header">Bilangan Cacah</div>
        <div class="card-body">
          <div id="generateBil" class="col-md-12S">
            <p>Pilih Contoh Bilangan</p>
            <div class="form-group">
              <input
                type="radio"
                id="one"
                value="5, 2, 8, 4, 3, 10"
                v-model="AllData"
              />
              <label for="one">[5, 2, 8, 4, 3, 10]</label>
            </div>
            <div class="form-group">
              <input type="radio" id="two" value="2,3,4,5" v-model="AllData" />
              <label for="two">[2, 3, 4, 5]</label>
            </div>
            <div class="form-group">
              <input
                type="radio"
                id="three"
                value="8,6,7,12"
                v-model="AllData"
              />
              <label for="three">[8, 6, 7, 12]</label>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="inputData"
                v-model="AllData"
                @keypress="checkNumber($event)"
              />
              <span for="inputData"
                ><i>Gunakan Sparator koma(,) untuk pemisah bilangan</i></span
              >
            </div>
            <span>{{ numberMissing }}</span>
          </div>
          <div class="col-8"></div>
          <button @click="submit" class="btn btn-primary btn-sm">check</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  el: "#generateBil",
  data() {
    return {
      AllData: "",
      numberMissing: "",
    };
  },

  methods: {
    checkNumber: function (evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
      if (key.length == 0) return;
      var regex = /^[0-9,\b]+$/;
      if (!regex.test(key)) {
        theEvent.returnValue = false;
        if (theEvent.preventDefault) theEvent.preventDefault();
      }
    },
    submit() {
      let data = this.AllData.split(",");
      data.sort(function (a, b) {
        return a - b;
      });
      let hasil = [];
      const first_data = parseInt(data[0]);
      const last_data = parseInt(data.slice(-1)[0]) + 1;
      for (let index = first_data; index < last_data; index++) {
        if (!data.includes(`${index}`)) {
          hasil.push(index);
        }
      }
      this.numberMissing =
        hasil.toString() == ""
          ? "bilangan cacah tidak ada yang hilang"
          : "Bilangan Caca Yang Hilang :" + hasil.toString();
    },
  },
};
</script>

<style>
</style>