<template>
  <div class="container my-5">
    <div class="jutstify-content-center col-md-12">
      <div class="col-12"></div>
      <div class="card rounded shadow">
        <div class="card-header">Daftar Nilai Siswa</div>
        <div id="inputData" class="row card-body">
          <div class="form-group col-md-2">
            <label class="label" for="">Nama Siswa</label>
            <input type="text" class="form-control" v-model="nama" />
          </div>
          <div class="form-group col-md-2">
            <label class="label" for="">Nilai Siswa</label>
            <input
              type="number"
              :value="nilai"
              @input="checkLimitNilai"
              class="form-control"
            />
          </div>
          <div class="form-group col-md-2">
            <label class="label" for=""
              ><p><br /><br /></p
            ></label>
            <button class="btn btn-sm btn-primary" @click="submitForm">
              Tambah Data
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama Siswa</th>
                <th>Score</th>
                <th>Score Akhir Pembulatan</th>
                <th>Hasil</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="!Datasiswa.length">
                <td class="text-center" colspan="5">Data Kosong</td>
              </tr>
              <tr v-for="(nilaisiswa, index) in Datasiswa" :key="index">
                <td>{{ index + 1 }}</td>
                <td>{{ nilaisiswa.nama }}</td>
                <td>{{ nilaisiswa.score }}</td>
                <td>{{ nilaisiswa.finalscore }}</td>
                <td>{{ nilaisiswa.result }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  el: "#inputData",
  data() {
    return {
      // initial state
      Datasiswa: [],
      nilai: 0,
      nama: "",
    };
  },
  methods: {
    checkLimitNilai(event) {
      const value = event.target.value;
      if (String(value) <= 100 && String(value) >= 0) {
        this.nilai = value;
      }
      this.$forceUpdate();
    },
    submitForm(e) {
      let finalscore = 0;
      let result = "";
      const nilai =
        this.nilai == 0 ? this.nilai : this.nilai.replace(/^0+/, "");

      if (this.nama == "") {
        alert("Nama tidak boleh kosong");
        return false;
      }

      if (nilai <= 70) {
        let cekNilai = nilai % 5;
        if (nilai > 67 && nilai < 70) {
          finalscore = parseInt(nilai) + (5 - cekNilai);
        } else {
          finalscore = nilai;
        }
        result = "tidak lulus";
      } else {
        finalscore = nilai;
        result = "lulus";
      }

      this.Datasiswa.push({
        nama: this.nama,
        score: nilai,
        finalscore: finalscore,
        result: result,
      });
      this.nama = "";
      this.nilai = "";

      // To prevent the form from submitting
      e.preventDefault();
    },
  },
};
</script>

<style>
</style>