<template>
  <div class="container my-5">
      <div class="card rounded shadow">
        <div class="card-header">Case 3</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div v-bind:style="{ backgroundColor: `#073592`}" class="card-header rounded shadow row">
                <div class="col-md-3"><a class="btn btn-block btn-default"  v-bind:style="{ color: `#e0e0e0`}"><i class="fas fa-arrow-circle-left"></i></a></div>
                <div class="col-md-9" ><p  v-bind:style="{ color: `#e0e0e0`}">Profile</p></div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-3" v-if="isPhoto">
                    <div class="text-center rounded shadow" v-bind:style="{border:`1px solid`}">
                      <router-link to="/Case3/ChooseFoto">
                        <img class="img-thumbnail" :src="pathUrl" alt="Card image cap">
                      </router-link>
                    </div>
                  </div>
                  <div class="col-md-3" v-else>
                    <div class="text-center rounded shadow" v-bind:style="{border:`1px solid`}">
                      <router-link to="/Case3/ChooseFoto" class="nav-link">
                        <a type="button" class="btn btn-block btn-default" v-bind:style="{'margin-top':12+'px'}">
                          <i class="fas fa-camera"></i>
                        </a>
                      </router-link>
                    </div>
                  </div>
                <div class="col-md-7">
                  <p>Jhon Doe</p><p>Kelas 10 Ipa 8</p>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="text-center">
                <div class="card">
                  <div  v-bind:style="{ backgroundColor: `#073592`}" class="card-body rounded shadow">
                    <h5 class="card-title"></h5>
                    <p></p>
                    <br>
                    <br>
                  </div>
                </div>
                <div class="card">
                  <div  v-bind:style="{ backgroundColor: `#073592`}" class="card-body rounded shadow">
                    <h5 class="card-title"></h5>
                    <p></p>
                    <br>
                    <br>
                  </div>
                </div>
                <div class="card">
                  <div  v-bind:style="{ backgroundColor: `#073592`}" class="card-body rounded shadow">
                    <h5 class="card-title"></h5>
                    <p></p>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
const getCookie = (cookie_name) =>{
  const re = new RegExp(`(?<=${cookie_name}=)[^;]*`);
  try{
    return document.cookie.match(re)[0];
  }catch{
    return "this-cookie-doesn't-exist";
  }
}
let path = getCookie('pathProfile');
let isPhotos = false;
let pathURI = "";

if (typeof path != 'undefined') {
  isPhotos = true;
  pathURI = path;
}
export default {
  data() {
    return {
      pathUrl: pathURI,
      isPhoto : isPhotos
    };
  },
};
</script>

<style>

</style>