<template>
  <div class="container my-5">
    <div class="jutstify-content-center">
      <div class="card rounded shadow">
        <div class="card-header">Change Photo Profile</div>
        <div class="card-body">
            <div class="card-body">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div v-bind:style="{ backgroundColor: `#073592`}" class="card-header rounded shadow row">
                <div class="col-md-3"><a class="btn btn-block btn-default"  v-bind:style="{ color: `#e0e0e0`}"><i class="fas fa-arrow-circle-left"></i></a></div>
                <div class="col-md-9" ><p  v-bind:style="{ color: `#e0e0e0`}">Ganti Foto Profile</p></div>
              </div>
              <br>
              <div class="row">
                 <div class="web-camera-container">
                    <div v-show="isCameraOpen && isLoading" class="camera-loading">
                        <ul style="text-align: center" class="loader-circle">
                            <li></li>
                        </ul>
                    </div>

                    <div
                    v-if="isCameraOpen"
                    v-show="!isLoading"
                    class="camera-box"
                    :class="{ flash: isShotPhoto }"
                    >
                    <div v-if="statesCamera">
                        <div class="camera-shutter" :class="{ flash: isShotPhoto }"></div>
                            <video
                            v-show="!isPhotoTaken"
                            ref="camera"
                            :width="512"
                            :height="512"
                            autoplay
                            ></video>

                            <canvas
                            v-show="isPhotoTaken"
                            id="photoTaken"
                            ref="canvas"
                            :width="512"
                            :height="512"
                            ></canvas>
                        </div>
                    </div>
                    <div v-if="statesCamera == false">
                        <img v-if="file" :src="files" :width="512"
                        :height="512" />
                    </div>

                    <div v-if="isCameraOpen && !isLoading" class="camera-shoot">
                        <button type="button" class="btn" @click="takePhoto">
                            <img :src="require(`@/assets/camera--v2.png`)" />
                        </button>
                    </div>
                </div>
              </div>
            <div class="col-md-12">
                <div class="col-md-12"></div>
                        <div class="camera-button">
                        <button
                            type="button"
                            class="btn btn-success btn-block"
                            :class="{
                            'btn-primary': !isCameraOpen,
                            'btn-danger': isCameraOpen,
                            }"
                            @click="toggleCamera"
                        >
                            <span v-if="!isCameraOpen">Ambil Dari Kamera</span>
                            <span v-else>Close Camera</span>
                        </button>
                        </div>
                        <br>
                        <label for="file" class="btn btn-success btn-block">Pilih Dari Galeri</label>
                        <input accept=".jpg,.png"
                            type="file"
                            ref="file"
                            id="file"
                            name="file"
                            class="btn btn-success btn-block"
                            v-on:change="takePhotoFromGaleri" style="visibility:hidden;">
                        <div class="col-md-2"></div>
                    </div>
                      <div v-if="isPhotoTaken">
                        <a class="btn btn-primary btn-block" role="button" @click="SendImage">
                            Simpan
                        </a>
                    </div>
                    <div v-else>
                        <a class="btn btn-default btn-block" type="button"> Simpan</a>
                    </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
        isCameraOpen: false,
        isPhotoTaken: false,
        isShotPhoto: false,
        isLoading: false,
        link: "#",
        file: null,
        files: null,
        statesCamera : false,
    };
  },
  methods: {
    toggleCamera() {
    this.file= null;
    console.log(this.isCameraOpen);
      if (this.isCameraOpen) {
        this.isCameraOpen = false;
        this.isPhotoTaken = false;
        this.isShotPhoto = false;
        this.stopCameraStream();
      } else {
        this.statesCamera = true;
        this.isCameraOpen = true;
        this.createCameraElement();
      }
    },

    createCameraElement() {
      this.isLoading = true;
    this.isPhotoTaken = false;

      const constraints = (window.constraints = {
        audio: false,
        video: true,
      });

      navigator.mediaDevices
        .getUserMedia(constraints)
        .then((stream) => {
          this.isLoading = false;
          this.$refs.camera.srcObject = stream;
        })
        .catch((error) => {
          this.isLoading = false;
          alert(
            "May the browser didn't support or there is some errors." + error
          );
        });
    },

    stopCameraStream() {
        this.statesCamera=false;
        this.file= null;
        let tracks = this.$refs.camera.srcObject.getTracks();

        tracks.forEach((track) => {
            track.stop();
        });
    },

    takePhoto() {
      if (!this.isPhotoTaken) {
        this.isShotPhoto = true;

        const FLASH_TIMEOUT = 50;

        setTimeout(() => {
          this.isShotPhoto = false;
        }, FLASH_TIMEOUT);
      }
      this.files = null;
      this.isPhotoTaken = !this.isPhotoTaken;
      const context = this.$refs.canvas.getContext("2d");
      context.drawImage(this.$refs.camera, 0, 0, 512, 512)
      // let canvas = document.getElementById("photoTaken").toDataURL("image/png");
    },
    takePhotoFromGaleri(e) {
        console.log(this.isCameraOpen);
        this.statesCamera = false;
        this.isCameraOpen = false;
        const files = e.target.files[0];
        this.isPhotoTaken = true;
        this.file= files;

        this.files = URL.createObjectURL(files);
    },
    SendImage() {
      let self = this;

      let formData = new FormData();
      let canvas = document.getElementById("photoTaken")
      let config = {
          headers: {
          "Content-Type": "multipart/form-data",
          Authorization:
              "wTPb3I47TnooWoJijkUw65YIhp72X3YrE5fA+c27mZcJzEka6Uxp2jTV3qMabKESnxpFnARAWFE8NN79qcf3Dw=='",
          },
      };
      if (this.files == null) {
        if (canvas.toBlob) {
          canvas.toBlob(function (blob) {
            formData.append('file', blob, 'image.jpg')
            axios
            .put(
            `https://staging-satrio.kelaspintar.co.id/lpt-api/api/file`,
            formData,
            config
            )
            .then((res) => {
              let data = res.data.data
              console.log(data);
              const pathUrl = `${data.host}${data.path}`;
              // handle success
              document.cookie = `pathProfile=${pathUrl}`;
              self.$router.push('/Case3');

            })
            .catch((err) => {
            // handle error
            console.log(err);
            });
          }, 'image/jpeg')
        }
      }else{
        formData.append('file', this.file);
        axios
            .put(
            `https://staging-satrio.kelaspintar.co.id/lpt-api/api/file`,
            formData,
            config
            )
            .then((res) => {
              let data = res.data.data;
              const pathUrl = `${data.host}${data.path}`;
              // handle success
              document.cookie = `pathProfile=${pathUrl}`;
              window.location.href = '/Case3'
              // self.$router.push('');

            })
            .catch((err) => {
            // handle error
            console.log(err);
            });
      }
    }
  },
};
</script>

<style>
.web-camera-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 570px;
}
.web-camera-container .camera-button {
  margin-bottom: 2rem;
}
.web-camera-container .camera-box .camera-shutter {
  opacity: 0;
  width: 450px;
  height: 337.5px;
  background-color: #fff;
  position: absolute;
}
.web-camera-container .camera-box .camera-shutter.flash {
  opacity: 1;
}
.web-camera-container .camera-shoot {
  margin: 1rem 0;
}
.web-camera-container .camera-shoot button {
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.web-camera-container .camera-shoot button img {
  height: 35px;
  object-fit: cover;
}
.web-camera-container .camera-loading {
  overflow: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  min-height: 150px;
  margin: 3rem 0 0 -1.2rem;
}
.web-camera-container .camera-loading ul {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 999999;
  margin: 0;
}
.web-camera-container .camera-loading .loader-circle {
  display: block;
  height: 14px;
  margin: 0 auto;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  padding: 0;
}
.web-camera-container .camera-loading .loader-circle li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  line-height: 10px;
  padding: 0;
  position: relative;
  margin: 0 0 0 4px;
  background: #999;
  animation: preload 1s infinite;
  top: -50%;
  border-radius: 100%;
}
.web-camera-container .camera-loading .loader-circle li:nth-child(2) {
  animation-delay: 0.2s;
}
.web-camera-container .camera-loading .loader-circle li:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes preload {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
</style>